@import "bootstrap";

input {
  padding: 10px;
}

.table {
  table-layout: fixed;
  word-wrap: break-word;
  tr {
    td {
      vertical-align: middle !important;
    }
    td:last-of-type {
      width: 100px;
    }
  }
}
